<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.1.0/highlight.min.js" integrity="sha512-z+/WWfyD5tccCukM4VvONpEtLmbAm5LDu7eKiyMQJ9m7OfPEDL7gENyDRL3Yfe8XAuGsS2fS4xSMnl6d30kqGQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.1.0/styles/base16/solarized-dark.min.css" integrity="sha512-JPpsArcPmVD/lHCCuZeG6Kx4x2qURRXHXxKYaXYJiKEKaoLOcXKDYqQ4jSeauXbk+U6uZ1UzrGO85y+lpys0Og==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
    <script>hljs.highlightAll();</script>
    <link rel="stylesheet" href="/styles.css" />
    <title>Skopiuj.to</title>
  </head>
  <body>
      <div id="header" class="shadow-xl">
        <div class="grid place-items-center">
          <div id="nick"><%= user.name %></p></div>
        </div>
        <div class="grid justify-items-end">
          <!--logout-->
          <a href="/users/logout"><img src="https://img.icons8.com/windows/32/000000/exit.png"/></a>
         </div>
      </div>
    
  
  <script src="style.js"></script>
  </body>
  </html>
 
 
 
 
 
 
 
 
 
